{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>TOP(X)</title>
	</head>
	<body>
		<header  class="page-header">
            <h1><code><a href="/topx">TOP(X)</a></code></h1>
        </header>
        <div class="pesquisa">
	        <div class =="input-group input-group-lg" >
				<form action="/topx/" method="post">
				    {% csrf_token %}
				    <div class="col-lg-7">
					    <div class="input-group input-group-lg card-shadow">
						  <span class="input-group-addon" id="sizing-addon1">URL</span>
						  <input type="text" class="form-control" placeholder="Digite a url do produto..." aria-describedby="sizing-addon1" name="url-comment" value="{{url}}">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group input-group-lg card-shadow">
						  <span class="input-group-addon" id="sizing-addon1">TOP(X)</span>
						  <input type="number" class="form-control" placeholder="" aria-describedby="sizing-addon3" name="topx"  min = "1", step="1" value="{{topx}}">
						</div>
					</div>
				    <button type="submit" class="btn btn-default my-btn card-shadow">PESQUISAR</button>
				</form>
			</div>
			{% if topComment %}
			{% else %}
			  <ol>
			  	<li><p>Vá ao site <a href = "www.buscape.com.br">buscapé.com.br</a>, pesquise por um produto e selecione-o.</p></li>
			  	<li><p>Clique em Avaliações dos Consumidores.</p></li>
			  	<li><p>Cole o link acima e, no campo TOP(X), escolha quantos comentários dos mais importantes você deseja que apareça </p></li>
			  </ol>
			{% endif %}
		</div>

		{% if marcaInfo %}
		<h3><a href={{marcaInfo.siteEmpresa}}>{{marcaInfo.nomeEmpresa}}</a></h3>

		<div class="panel panel-default">
			<div class="panel-heading">Dados do <a href="http:\\www.reclameaqui.com.br">Reclame Aqui</a> para os últimos 12 meses. <a href={{marcaInfo.urlReclameAqui}}>Mais informações</a></div>  
			<div class="padding-left">
				<div class="block-container">
					
					{% if marcaInfo.classificacaoEmpresa == "Ótimo" %}
						<h4>Classificação da empresa: <span class="label label-success">{{marcaInfo.classificacaoEmpresa}}</span></h4>
					{% endif %}

					{% if marcaInfo.classificacaoEmpresa == "Bom" %}
						<h4>Classificação da empresa: <span class="label label-info">{{marcaInfo.classificacaoEmpresa}}</span></h4>
					{% endif %}

					{% if marcaInfo.classificacaoEmpresa == "regular" %}
						<h4>Classificação da empresa: <span class="label label-warning">{{marcaInfo.classificacaoEmpresa}}</span></h4>
					{% endif %}

					{% if marcaInfo.classificacaoEmpresa == "Ruim" %}
						<h4>Classificação da empresa: <span class="label label-warning">{{marcaInfo.classificacaoEmpresa}}</span></h4>
					{% endif %}

					{% if marcaInfo.classificacaoEmpresa == "Não recomendada" %}
						<h4>Classificação da empresa: <span class="label label-danger">{{marcaInfo.classificacaoEmpresa}}</span></h4>
					{% endif %}
				
				</div>
				<div class="block-container">
					<div class="divInline">
						<p><span class=" reclamacoes green-text">{{marcaInfo.pctAtendidas}}</span><br>Reclamações atendidas</p>
						<p><span class=" reclamacoes green-text">{{marcaInfo.voltaNegocio}}</span><br>Voltaria a fazer negócio</p>
						<p><span class=" reclamacoes green-text"> {{marcaInfo.indiceSolucao}}</span><br>Índice de solução</p>
					</div>
					<div class="divInline divCentral">
						<p><span class=" reclamacoes red-text">{{marcaInfo.numReclamacoes}}</span><br>reclamações</p>
						<p><span class=" reclamacoes green-text">{{marcaInfo.atendidas}}</span><br>atendidas</p>
						<p><span class=" reclamacoes red-text"> {{marcaInfo.naoAtendidas}}</span><br>não atendidas</p>
					</div>
					<div class="divInline">
						<p><span class=" reclamacoes green-text">{{marcaInfo.tempoDeResposta}}</span><br>Tempo de resposta </p>
						<p><span class=" reclamacoes green-text">{{marcaInfo.notaConsumidor}}</span><br>Nota do consumidor</p>
						<p><span class=" reclamacoes green-text"> {{marcaInfo.numAvaliacoes}}</span><br>Avaliações</p>
					</div>

				</div>
			</div>
		</div>
		{% endif %}

		{% if topComment %}
			<h3>{{nomeProduto}}</h3>
			<div class="panel panel-default">
			    
				<div class="panel-heading">Comentários do Buscapé</div>  
				<table class="table">
				    <thead>
				      <tr>
				        <th>Autor</th>
				        <th>Comentário</th>
				        <th>Polaridade</th>
				        <th>Importância</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{% for comment in topComment %}
				      		<tr>
				        		<td>{{comment.autor}}</td>
				        		<td>{{comment.comentario}}</td>
				        		{% if comment.polaridade == "positivo" %}
				        			<td><span class="label label-success">{{comment.polaridade}}</span></td>
				        		{% endif %}
				        		{% if comment.polaridade == "negativo" %}
				        			<td><span class="label label-danger">{{comment.polaridade}}</span></td>
				        		{% endif %}
				        		{% if comment.polaridade == "neutro" %}
				        			<td><span class="label label-info">{{comment.polaridade}}</span></td>
				        		{% endif %}
				        		<td>{{comment.importancia}}</td>
				      		</tr>
				       {% endfor %}
				    </tbody>
				</table>
			</div>
			{% endif %}

		</div>

	</body>

</html>